.profile {
  width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 21px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
