.description {
  width: 250px;
  height: auto;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.name {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  margin-top: 30px;
}

.tag {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
}

.location {
  font-size: 14px;
  color: #97a2ae;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 30px;
}
